{% extends "base.html" %}
{% block body %}

<h1>{{ member.Response[0]['displayName'] }}
<img src="http://www.bungie.net{{ member.Response[0]['iconPath'] }}"></h1>

Clan: {{ account.Response.data.clanName }}<br>
Grimoire Score: {{ account.Response.data.grimoireScore }}<br>

{% for item in account.Response.data.inventory.currencies %}
    <img src="http://www.bungie.net{{ account.Response.definitions.get('items').get(item.itemHash.__str__()).icon }}" alt="{{ account.Response.definitions.get('items').get(item.itemHash.__str__()).itemName }}" width="3%"> {{ item.value }}<br>
{% endfor %}

<hr>

<div class="row">

    {% for toon in account.Response.data.characters %}
      <div class="col-md-4">

       <div class="row">
         <div class="col-md-3">
           <img src="http://www.bungie.net{{ toon.emblemPath }}" class="img-responsive">
         </div>
         <div class="col-md-9">
           <img src="http://www.bungie.net{{ toon.backgroundPath }}" class="img-responsive">
         </div>
       </div>

       <br>

       Class:
       {% if toon.characterBase.classType == 0 %}
          Titan
       {% endif %}
       {% if toon.characterBase.classType == 1 %}
          Hunter
       {% endif %}
       {% if toon.characterBase.classType == 2 %}
          Warlock
       {% endif %}
       <br>
       Base Level: {{ toon.baseCharacterLevel }}<br>
       Light Level: {{ toon.characterBase.stats.STAT_LIGHT.value }}<br>
       Mins Played: {{ toon.characterBase.minutesPlayedTotal }}<br>


       <br><br>

       {% for item in toon.characterBase.peerView.equipment %}
        <img src="http://www.bungie.net{{ account.Response.definitions['items'].get(item.itemHash.__str__()).icon }}"><br>
        {{ account.Response.definitions['items'].get(item.itemHash.__str__()).get('stats').get(account.Response.definitions['items'][item.itemHash.__str__()].primaryBaseStatHash.__str__())['value'] }}
        {{ account.Response.definitions['items'].get(item.itemHash.__str__()).itemTypeName }}<br>
        <b>{{ account.Response.definitions['items'].get(item.itemHash.__str__()).itemName }}</b><br>
        <br>
       {% endfor %}

      </div>
    {% endfor %}

</div>

<br>
<hr>

<h3>/ Vault / Weapons /</h3>
<div class="row">
    {% for item in account.Response.data.inventory['items'] %}
        {% if item.bucketHash.__str__() == BUCKET_VAULT_WEAPONS %}
              <div class="col-md-2">
                <img src="http://www.bungie.net{{ account.Response.definitions['items'][item.itemHash.__str__()].icon }}"><br>
                {{ item.primaryStat.value }}
                {{ account.Response.definitions['items'][item.itemHash.__str__()].itemTypeName }}<br>
                <b>{{ account.Response.definitions['items'][item.itemHash.__str__()].itemName }}</b><br>
                <i>{{ account.Response.definitions['items'][item.itemHash.__str__()].itemDescription }}</i><br>
                <br>
              </div>
        {% endif %}
    {% endfor %}
</div>

<br>

<h4>/ Armor /</h4>
<div class="row">
    {% for item in account.Response.data.inventory['items'] %}
        {% if item.bucketHash.__str__() == BUCKET_VAULT_ARMOR %}
              <div class="col-md-2">
                <img src="http://www.bungie.net{{ account.Response.definitions['items'][item.itemHash.__str__()].icon }}"><br>
                {{ item.primaryStat.value }}
                {{ account.Response.definitions['items'][item.itemHash.__str__()].itemTypeName }}<br>
                <b>{{ account.Response.definitions['items'][item.itemHash.__str__()].itemName }}</b><br>
                <i>{{ account.Response.definitions['items'][item.itemHash.__str__()].itemDescription }}</i><br>
                <br>
              </div>
        {% endif %}
    {% endfor %}
</div>

<br>

<h4>/ Items /</h4>
<div class="row">
    {% for item in account.Response.data.inventory['items'] %}
        {% if item.bucketHash.__str__() == BUCKET_VAULT_ITEMS %}
              <div class="col-md-2">
                <img src="http://www.bungie.net{{ account.Response.definitions['items'][item.itemHash.__str__()].icon }}"><br>
                {{ account.Response.definitions['items'][item.itemHash.__str__()].itemTypeName }}<br>
                <b>{{ account.Response.definitions['items'][item.itemHash.__str__()].itemName }}</b><br>
                <i>{{ account.Response.definitions['items'][item.itemHash.__str__()].itemDescription }}</i><br>
                <br>
              </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}